@model IEnumerable<WebFitness.Manutencao>
@{
    ViewBag.Title = "Index";
}

<h2>Manutenção</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-large btn-primary" })
</p>

<div class="well no-padding tab-content">
    <div class="tab-pane active" id="user-overview">
        <table class="data-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Fornecedor.dsFornecedor)</th>
                    <th>@Html.DisplayNameFor(model => model.idTpManutencao)</th>
                    <th>@Html.DisplayNameFor(model => model.valorManutencao)</th>
                    <th>@Html.DisplayNameFor(model => model.dtCriacao)</th>
                    <th>@Html.DisplayNameFor(model => model.Equipamento.dsEquipamento)</th>
                    <th class="right">Editar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Fornecedor.dsFornecedor)</td>
                        <td>@Html.DisplayFor(modelItem => item.TpManutencao.dsTpManutencao)</td>
                        <td>@Html.DisplayFor(modelItem => item.valorManutencao)</td>
                        <td>@Html.DisplayFor(modelItem => item.dtCriacao)</td>
                        <td>@Html.DisplayFor(modelItem => item.Equipamento.dsEquipamento)</td>
                        <td class="right">
                            @Html.ActionLink("Detalhes", "Details", new { id = item.idManutencao }, new { @class = "btn" })
                            @Html.ActionLink("Editar", "Edit", new { id = item.idManutencao }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Excluir", "Delete", new { id = item.idManutencao }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>