@model WebFitness.TpAula

@{
    ViewBag.Title = "Editar";
}

<div class="span7">
    <div class="top-bar">
        <h3>
            <i class="icon-cog"></i>
            Alteração de Tipo de Aula
        </h3>
    </div>
    <div class="well no-padding">
        @using (Html.BeginForm("Edit", "TipoAula", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.idTpAula)

            <div class="control-group">
                @Html.LabelFor(model => model.dsTpAula, new { @class = "control-label" })

                <div class="controls">
                    @Html.EditorFor(model => model.dsTpAula, new { @class ="span6 m-wrap" })
                    @Html.ValidationMessageFor(model => model.dsTpAula)
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(model => model.status, new { @class = "control-label" })

                <div class="controls">
                    <label class="radio"><span>@Html.RadioButtonFor(model => model.status, (byte) WebFitness.Status.Ativo)</span> @WebFitness.Status.Ativo</label>
                    <label class="radio"><span>@Html.RadioButtonFor(model => model.status, (byte) WebFitness.Status.Inativo)</span> @WebFitness.Status.Inativo</label>
                </div>
            </div>

            <div class="editor-field">
                @Html.HiddenFor(model => model.dtCriacao)
            </div>

            <div class="form-actions">
                <input type="submit" class="btn btn-success" name="enviar" value="Salvar" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>
