@model WebFitness.Fornecedor

@{
    ViewBag.Title = "Detalhes";
}

<div class="span7">
    <div class="top-bar">
        <h3>
            <i class="icon-cog"></i>
            Cadastro Fornecedor
        </h3>
    </div>
    <div class="well no-padding">

        <div class="control-group">
            @Html.LabelFor(model => model.dsFornecedor, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.dsFornecedor)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.cnpj, new { @class = "control-label" })

            <div class="controls">
                @Html.LabelForModel(Model.cnpj, new { @class = "exibeCnpj" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.inscrEstadual, new { @class = "control-label" })

            <div class="controls">
                @if(Model.inscrEstadual != null)
                {
                    @Html.LabelForModel(Model.inscrEstadual)
                }
                else
                {
                    @Html.Label("ISENTO");
                }
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.rua, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.rua)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.bairro, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.bairro)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.email)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.telefone, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.telefone)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.dtCriacao, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.dtCriacao)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label" })

            <div class="controls">
                @if(Model.status == (byte) WebFitness.Status.Ativo){
                    @WebFitness.Status.Ativo
                }
                else
                {
                    @WebFitness.Status.Inativo
                }
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Cidade.dsCidade, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.Cidade.dsCidade)
            </div>
        </div>

        <div class="form-actions">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>