@model WebFitness.Fornecedor

@{
    ViewBag.Title = "Editar";
}

<div class="span7">
    <div class="top-bar">
        <h3>
            <i class="icon-cog"></i>
            Cadastro Fornecedor
        </h3>
    </div>
    <div class="well no-padding">
        @using (Html.BeginForm("Edit", "Fornecedor", FormMethod.Post, new { @class = "form-horizontal" }))
        {    
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
    
            @Html.HiddenFor(model => model.idFornecedor)

            <div class="control-group">
                @Html.LabelFor(model => model.dsFornecedor, new { @class = "control-label" })

                <div class="controls">
                    @Html.EditorFor(model => model.dsFornecedor, new { @class = "span6 m-wrap" })
                    @Html.ValidationMessageFor(model => model.dsFornecedor)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.cnpj, new { @class = "control-label" })

                <div class="controls">
                    @Html.EditorFor(model => model.cnpj, new { @class = "span6 m-wrap" })
                    @Html.ValidationMessageFor(model => model.cnpj)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.inscrEstadual, new { @class = "control-label" })

                <div class="controls">
                    @Html.EditorFor(model => model.inscrEstadual, new { @class = "span6 m-wrap" })
                    @Html.ValidationMessageFor(model => model.inscrEstadual)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.rua, new { @class = "control-label" })

                <div class="controls">
                    @Html.EditorFor(model => model.rua, new { @class = "span6 m-wrap" })
                    @Html.ValidationMessageFor(model => model.rua)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.bairro, new { @class = "control-label" })

                <div class="controls">
                    @Html.EditorFor(model => model.bairro, new { @class = "span6 m-wrap" })
                    @Html.ValidationMessageFor(model => model.bairro)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.email, new { @class = "control-label" })

                <div class="controls">
                    @Html.EditorFor(model => model.email, new { @class = "m-wrap" })
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.telefone, new { @class = "control-label" })

                <div class="controls">
                    @Html.EditorFor(model => model.telefone, new { @class = "span6 m-wrap" })
                    @Html.ValidationMessageFor(model => model.telefone)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.idCidade, new { @class = "control-label" })

                <div class="controls">
                    @Html.DropDownList("idCidade", String.Empty)
                    @Html.ValidationMessageFor(model => model.idCidade)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.status, new { @class = "control-label" })

                <div class="controls">
                    <label class="radio"><span>@Html.RadioButtonFor(model => model.status, (byte)WebFitness.Status.Ativo)</span> @WebFitness.Status.Ativo</label>
                    <label class="radio"><span>@Html.RadioButtonFor(model => model.status, (byte)WebFitness.Status.Inativo)</span> @WebFitness.Status.Inativo</label>
                </div>
            </div>
            
            <div class="form-actions">
                <input type="submit" class="btn btn-success" name="enviar" value="Salvar" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
            </div>

        }

    </div>
</div>
