@model WebFitness.Funcionario

@{
    ViewBag.Title = "Visualizar";
}

<div class="span7">
    <div class="top-bar">
        <h3>
            <i class="icon-cog"></i>
            Cadastro Funcionários
        </h3>
    </div>
    <div class="well no-padding">

        <div class="control-group">
            @Html.LabelFor(model => model.nome, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.nome)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.cpf, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.cpf)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.telefone, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.telefone)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.email)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.rua, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.rua)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.bairro, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.bairro)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.cep, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.cep)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ctps, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.ctps)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.sexo, new { @class = "control-label" })

            <div class="controls">
                @if (Model.sexo == "M")
                {
                    @Html.Label("Masculino");
                }
                else
                {
                    @Html.Label("Feminino");
                }
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.aniversario, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.aniversario)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.idTpFuncionario, new { @class = "control-label" })

            <div class="controls">
               @if (Model.idTpFuncionario == (byte) WebFitness.TipoFunacionario.Administrador)
                {
                    @WebFitness.TipoFunacionario.Administrador
                }
                else if (Model.idTpFuncionario == (byte)WebFitness.TipoFunacionario.Instrutor)
                {
                    @WebFitness.TipoFunacionario.Instrutor
                }else{
                    @WebFitness.TipoFunacionario.Recepcionista
                }
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label" })

            <div class="controls">
                @if (Model.status == (byte)WebFitness.Status.Ativo)
                {
                    @Html.Label("Ativo");
                }
                else
                {
                    @Html.Label("Inativo");
                }
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.idCidade, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.Cidade.dsCidade)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.login, new { @class = "control-label" })

            <div class="controls">
                @Html.DisplayFor(model => model.login)
            </div>
        </div>

        <div class="form-actions">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
        </div>


    </div>
</div>
